.info-contact {
    text-align: center;
    margin: 56px 0;
    color: #333333;
    font-weight: 600;
}

.info-contact-label {
    margin-right: 19px;
}

.info-contact-label {
    margin-right: 19px;
}

.info-contact-label,
.info-contact-phone-number {
    font-size: 16px;
}

.info-contact-phone-prefix {
    font-size: 13px;
    margin-right: 4px;
    padding-top: 3px;
}

.info-contact-phone .svg-icon-whatsapp {
    margin-right: 7px;
    transform: translateY(3px);
}

.info-disclaimer {
    padding: 0 64px;
    text-align: center;
    color: #333333;
}

.info-disclaimer-body {
    font-size: 16px;
    margin: 20px 0 40px 0;
}

.info-disclaimer-title {
    font-size: 32px;
    margin: 0;
}